@import url('./_reset.css');
@import url('./_flex.css');
@import url('./_app.css');
@import url('./_icons.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap');

body {
    padding: 0;
    margin: 0;
}

:focus {
    outline: none;
}


a {
    color: #fff;
}

h2 {
    font-size: 24px;
    color: #fff;
    padding: 20px;
}